.env
*.png
*.pdf
*.xlsx
*.pptx
.vscode/settings.json
.idea
situation_en
situation_th
tests_moph
!tests/**
.venv
__pycache__
api/
html/
json/
tweets/
.env
vaccinations/
outputs/*.html
_site/
vendor/
.sass-cache/
Gemfile.lock
.bundle/
