requests
tabula-py
requests_cache # didn't use
tika
pandas
matplotlib
webdavclient3
xlrd
openpyxl
BeautifulSoup4
python-pptx
python-dateutil
jupyter
pytwitterscraper
camelot-py[cv]
#scrape-facebook
#sriram-twitter-scraper
#Twper
#twint
#git+https://github.com/kigawas/pycares.git@fix-build-error#egg=pycares
#nasty