requests[socks]
tabula-py
tika
webdavclient3
xlrd
BeautifulSoup4
python-pptx
python-dateutil
# jupyter
wheel
# pytwitterscraper
camelot-py[cv,plot] == 0.8.2
PyPDF2<3.0  # until this is fixed - https://github.com/camelot-dev/camelot/issues/339
pandas > 1.4.0 # < 2.0.0 # some plot error
numpy < 1.24.0
matplotlib # == 3.3.4
pythainlp
pytest; python_version != '3.9'
pytest !=7.0.0; python_version == '3.9'  # https://github.com/pytest-dev/pytest/issues/9608
#pytest-xdist
#pytest-parallel
#TableauScraper
-e ./src/tableau-scraping
-r ./src/tableau-scraping/test-requirements.txt
mpld3
loguru
pre-commit
xlsx2csv
datatable
python-crfsuite
benford_py
tqdm
pre-commit-hooks
proxyscrape